<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>合租账单</title>
    <script type="text/javascript" src="j/angular.js"></script>
		<link rel="stylesheet" type="text/css" href="c/g.css">
</head>
<body>
	<div class="header">
		<h2>牛逼的记账小程序</h2>
	</div>
	<div class="content">
		<div class="aside">
			<h4 class="asideT">记账程序</h4>
			<ul class="asideC">
				<li>xxxxxx</li>
				<li>xxx</li>
				<li>tyyyy</li>
				<li>ffff</li>
			</ul>
		</div>
		<div class="main">
			<form class="form">
				<div class="fmd">
					<label class="label" for="name">出钱人：</label>
					<select id="name" name="name" value="">
						<option value=''>请选择您的大名</option>
						<option value='quyatong'>曲亚童</option>
						<option value='quyatong1'>曲亚童1</option>
						<option value='quyatong2'>曲亚童2</option>
					</select>
				</div>
				<div class="fmd">
					<label class="label" for="date">日期：</label>
					<input type="date" id="date" name="date" class="txt">
				</div>
				<div class="fmd">
					<label class="label" for="money">钱数：</label>
					<input type="text" id="money" name="money" class="txt" placeholder="花的大把的钱">
				</div>
				<div class="fmd">
					<label class="label" for="note">备注：</label>
					<textarea id="note" name="note" placeholder="干了个啥子"></textarea>
				</div>
				<div class="fmd">
					<label class="label" for="money">消费者：</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
					<label class="nm"><input type="checkbox">曲亚童</label>
				</div>
				<div class="fmd">
					<button type="submit" class="btn btnSmt">赶快提交</button>
				</div>
			</form>
			<table class="tbl">
				<thead>
					<tr>
						<th class="cbox"><input type="checkbox" title="全选"></th>
						<th>姓名</th>
						<th>钱数</th>
						<th>备注</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox"></td>
						<td>曲亚童</td>
						<td>30</td>
						<td>xxxxxxxxx</td>
						<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>曲亚童</td>
						<td>30</td>
						<td>xxxxxxxxx</td>
						<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>曲亚童</td>
						<td>30</td>
						<td>xxxxxxxxx</td>
						<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>曲亚童</td>
						<td>30</td>
						<td>xxxxxxxxx</td>
						<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>曲亚童</td>
						<td>30</td>
						<td>xxxxxxxxx</td>
						<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>曲亚童</td>
						<td>30</td>
						<td>xxxxxxxxx</td>
						<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>曲亚童</td>
						<td>30</td>
						<td>xxxxxxxxx</td>
						<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>曲亚童</td>
						<td>30</td>
						<td>xxxxxxxxx</td>
						<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
					</tr>
					<tr>
						<td><input type="checkbox"></td>
						<td>曲亚童</td>
						<td>30</td>
						<td>xxxxxxxxx</td>
						<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
    
