<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合租账单</title>
    <script src="http://cdn.staticfile.org/require.js/2.1.14/require.js"></script>
    <script src="http://s1.bdstatic.com/r/www/cache/static/jquery/jquery-1.10.2.min_f2fb5194.js"></script>
</head>
<body>