<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>合租账单</title>
		<link rel="stylesheet" type="text/css" href="c/g.css">
		<script type="text/javascript" data-main="j/app/app.js" src="j/lib/require.js"></script>
</head>
<body>
	<div class="header">
		<h2>牛逼的记账小程序</h2>
	</div>
	<div class="content">
		<div class="aside">
			<h4 class="asideT">记账程序</h4>
			<ul class="asideC">
				<li>xxxxxx</li>
				<li>xxx</li>
				<li>tyyyy</li>
				<li>ffff</li>
			</ul>
		</div>
		<div class="main" ng-view></div>
	</div>
    
