<form class="form">
	<div class="fmd">
		<label class="label" for="name">出钱人：</label>
		<select id="name" name="name" value="">
			<option value=''>请选择您的大名</option>
			<option value='qutong'>辅导费</option>
			<option value='quyng1'>费点噶说都</option>
			<option value='qutng2'>四谛法</option>
		</select>
	</div>
	<div class="fmd">
		<label class="label" for="date">日期：</label>
		<input type="date" id="date" name="date" class="txt">
	</div>
	<div class="fmd">
		<label class="label" for="money">钱数：</label>
		<input type="text" id="money" name="money" class="txt" placeholder="花的大把的钱">
	</div>
	<div class="fmd">
		<label class="label" for="note">备注：</label>
		<textarea id="note" name="note" placeholder="干了个啥子"></textarea>
	</div>
	<div class="fmd">
		<label class="label" for="money">消费者：</label>
		<label class="nm"><input type="checkbox">sdf</label>
		<label class="nm"><input type="checkbox">芳菲</label>
		<label class="nm"><input type="checkbox">得到</label>
		<label class="nm"><input type="checkbox">第三方</label>
		<label class="nm"><input type="checkbox">地方</label>
		<label class="nm"><input type="checkbox">得到</label>
		<label class="nm"><input type="checkbox">瞎扯淡</label>
		<label class="nm"><input type="checkbox">的所发生的</label>
		<label class="nm"><input type="checkbox">答复</label>
		<label class="nm"><input type="checkbox">四谛法</label>
		<label class="nm"><input type="checkbox">搜得到</label>
		<label class="nm"><input type="checkbox">四谛法</label>
		<label class="nm"><input type="checkbox">dddc</label>
	</div>
	<div class="fmd">
		<button type="submit" class="btn btnSmt">赶快提交</button>
	</div>
</form>
<table class="tbl">
	<thead>
		<tr>
			<th class="cbox"><input type="checkbox" title="全选"></th>
			<th>姓名</th>
			<th>钱数</th>
			<th>备注</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="checkbox"></td>
			<td>的萨菲</td>
			<td>30</td>
			<td>xxxxxxxxx</td>
			<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>的萨菲</td>
			<td>30</td>
			<td>xxxxxxxxx</td>
			<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>的萨菲</td>
			<td>30</td>
			<td>xxxxxxxxx</td>
			<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>的萨菲</td>
			<td>30</td>
			<td>xxxxxxxxx</td>
			<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>的萨菲</td>
			<td>30</td>
			<td>xxxxxxxxx</td>
			<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>的萨菲</td>
			<td>30</td>
			<td>xxxxxxxxx</td>
			<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>的萨菲</td>
			<td>30</td>
			<td>xxxxxxxxx</td>
			<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>的萨菲</td>
			<td>30</td>
			<td>xxxxxxxxx</td>
			<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td>的萨菲</td>
			<td>30</td>
			<td>xxxxxxxxx</td>
			<td><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
		</tr>
	</tbody>
</table>