<form class="form" name="newRecord" ng-submit="addRecord($event)">
	<div class="fmd">
		<label class="label" for="name">出钱人：</label>
		<select id="name" name="name" value="" ng-model="name" ng-options="usr.name for usr in data.users">
			<option value=''>请选择您的大名</option>
		</select>
	</div>
	<div class="fmd">
		<label class="label" for="time">日&emsp;期：</label>
		<input type="date" id="time" name="time" class="txt" ng-model="time">
	</div>
	<div class="fmd">
		<label class="label" for="money">钱&emsp;数：</label>
		<input type="number" id="money" name="money" class="txt" placeholder="花的大把的钱" ng-model="money">
	</div>
	<div class="fmd">
		<label class="label" for="comment">备&emsp;注：</label>
		<textarea id="comment" name="comment" placeholder="干了个啥子" ng-model="comment"></textarea>
	</div>
	<div class="fmd">
		<label class="label">消费者：</label>
		<label class="nm" ng-repeat="usr in customers"><input type="checkbox" ng-model="usr.checked">{{usr.name}}</label>
	</div>
	<div class="fmd">
		<button type="submit" class="btn btnSmt">赶快提交</button>
	</div>
</form>
<div class="tblList">
	<table class="tbl">
		<thead>
			<tr>
				<th class="csize">出钱人</th>
				<th class="csize">钱数</th>
				<th class="csize">时间</th>
				<th>消费者</th>
				<th class="csize3">备注</th>
				<th class="csize">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="record in data.records" ng-init="showcts = record.customers.slice(0, 5)">
				<td class="csize">{{record.outerMan.name || ''}}</td>
				<td class="csize">{{record.money || 0}}</td>
				<td class="csize">{{record.time}}</td>
				<td class="cctms" ng-init="morects = record.customers.slice(5)">
					<div class="nmicon" ng-repeat="customer in showcts" title="{{customer.name}}"><img ng-src=""></div>
					<div class="drop">
						<button class="drop-btn"></button>
						<ul><li class="nmicon" ng-repeat="customer in morects" title="{{customer.name}}"></li></ul>
					</div>
				</td>
				<td class="csize3" title="{{record.comment || ''}}">{{record.comment || ''}}</td>
				<td class="csize"><a href="javascript:;" class="fuc">编辑</a><a href="javascript:;" class="fuc">删除</a></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>合计</th>
				<th colspan="2">姓名</th>
				<th colspan="3">金额</th>
			</tr>
			<tr ng-repeat="usr in data.users">
				<td>{{$index+1}}</td>
				<td colspan="2">{{usr.name}}</td>
				<td colspan="3">34</td>
			</tr>
		</tfoot>
	</table>
</div>