<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>合租账单</title>
    <script src="http://cdn.staticfile.org/require.js/2.1.14/require.js"></script>
    <script src="http://s1.bdstatic.com/r/www/cache/static/jquery/jquery-1.10.2.min_f2fb5194.js"></script>
	<link rel="stylesheet" type="text/css" href="src/common/frame.css">
</head>
<body>
	<div class="header">
		<h2>典哥开发的记账小程序</h2>
	</div>
	<div class="main-container">
        <%include sideBar%>
		<div class="main">
    
